:root{
font-size: 10px;
}

body{
line-height: 2;
color: #333;
font-family: monospace;
text-align: center;
}

h1{
font-size: 4rem;
}

h3,#tribute-link{
font-size: 2rem;
}

p,li,strong,figcaption{
font-size: 1.4rem;
}

#main {
margin: 30px 8px;
padding: 15px;
border-radius: 5px;
background: #eee;
}

#img-div{
background-color: white;
padding: 1rem;
}

#image{
max-width: 100%; 
display: block;
height: auto;
margin: 1rem auto;
}

#tribute-info{
padding: 1rem;
text-align: justify;
}

@media (max-width: 460px) {
h1{
    font-size: 2rem;
}
}